body 
{
  margin:0px;
  padding:0px;
  font-family:verdana, arial, helvetica, sans-serif;
  color:#333;
  background-color : #FFF;
  font-size : 80%;
}

h1 
{
  margin:0px 0px 10px 0px;
  padding:0px;
  font-size:20px;
  line-height:20px;
  font-weight:900;
  color:#666;
}

p 
{
  font: 100%/120% verdana, arial, helvetica, sans-serif;
  margin:5px 0px;
  padding:0px;
  text-align : justify;
}

#Header a
{
  color : #D26060;
}

#Header a:hover
{
  color : #DB0000;
}

#Content>p 
{
  text-align : justify;
  margin-bottom : 10px;
}

span.small
{
  font-size : 80%;
}

a 
{
  color : #005e89;
  text-decoration:none;
}

/*a:link {color:#005e89;}*/
a:hover {color:#858460;}

#Header 
{
  margin:10px 0px 10px 0px;
  padding:0px 0px 0px 20px;
  font-size : 8px;
  /* For IE5/Win's benefit height = [correct height] + [top padding] + [top and bottom border widths] */
  height:33px; /* 14px + 17px + 2px = 33px */
  border-style:solid;
  border-color:black;
  border-width:1px 0px; /* top and bottom borders: 1px; left and right borders: 0px */
  line-height:11px;
  background-color:#eee;
  background-image:url(images/bg.jpg);
  background-repeat : repeat-x;

/* Here is the ugly brilliant hack that protects IE5/Win from its own stupidity. 
Thanks to Tantek Celik for the hack and to Eric Costello for publicizing it. 
IE5/Win incorrectly parses the "\"}"" value, prematurely closing the style 
declaration. The incorrect IE5/Win value is above, while the correct value is 
below. See http://glish.com/css/hacks.asp for details. */
  voice-family: "\"}\"";
  voice-family:inherit;
  height:33px; /* the correct height */
}

/* I've heard this called the "be nice to Opera 5" rule. Basically, it feeds correct 
length values to user agents that exhibit the parsing error exploited above yet get 
the CSS box model right and understand the CSS2 parent-child selector. ALWAYS include
a "be nice to Opera 5" rule every time you use the Tantek Celik hack (above). */
body>#Header {height:33px;}

#Header p
{
  font-size : 10px;
  line-height : 18px;
}

#Content 
{
  margin:0px 10px 10px 190px;
  padding:10px;
  border : 1px solid #275F98;
  -moz-border-radius : 6px;
  height : 400px;
  background-color:#EEE;
}

#overall>#Content
{
  height : auto;
  min-height : 400px;
}

#Menus
{
  position : absolute;
  width : 172px;
  left : 10px;
}

div.menu
{
  font-size : 100%;
  left : 10px;
  width:172px;
  padding:10px;
  margin-bottom : 5px;
  background-color:#EEE;
  border:1px dashed #275F98;
  border:1px solid #275F98;
  line-height:16px;
  /* Again, the ugly brilliant hack. */
  voice-family: "\"}\"";
  voice-family:inherit;
  width:150px;
}

div.menu h3
{
  font-size : 100%;
  margin-top : 0;
  margin-bottom : 5px;
}

div.menu INPUT[type="text"], div.menu INPUT[type="password"], div.menu SELECT {
  width:130px;
}

ul
{
/*  list-style-image : url(images/puce.png); */
  margin : 5px 0 5px 5px;
  padding : 0 0 0 25px;
}

li
{
  margin: 0;
  padding:0;
}

/* Again, "be nice to Opera 5". */
body>div.menu {width:150px;}

#footer
{
  clear: both;
  text-align: right;
  margin-right: 1em;
  font-size: 83%;
  color: grey;

  margin-bottom: 1em;
}

div.row, div.row1, div.row2
{
  padding-top : 2px;
  padding-bottom : 2px;
  overflow:hidden;
}
div.row img
{
  margin:10px;
  padding:10px;
  border:1px solid #DDD;
}

div.row1
{
  background-color : #F9F9F9;
}

div.row2
{
  background-color : #EEE;
}

span.label, span.label_y
{
  width : 50%;
  text-align : right;
  float : left;
  margin-right : 10px;
}

span.label_y
{
  font-weight : bold;
}

#overall
{
  float : left;
  width : 100%;
  margin-top : 1em;
}

img.header_image
{
  float:right;
  margin-right : 10px;
}

div.row
{
  border : 1px solid #999999;
  -moz-border-radius : 6px;
  padding : 5px;
  margin-bottom : 10px;
  background-color : #FAFAFA;
  text-align : justify;
  clear : both;
}

A.screenshot {
  display: block;
  float: right;
  margin-left: 3em;
}

div.nav_left
{
  float:left;
  margin-bottom:10px;
  padding-bottom:0;
}

div.nav_right
{
  float:right;
  margin-bottom:10px;
  padding-bottom:0;
}

/* PhpWebGallery specific */
#pwgHeader {
  font: 80% "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
  text-align:center;
  margin-bottom: 1em;
}

#pwgHeader H1 {
  font-size: 18px;
}

#pwgHeader .menu {
  text-align:center;
}

#pwgHeader .menu a {
   text-decoration:none;
   font-weight:bold;
   color:#005e89;
   padding:2px;
   border:1px solid gray;
   background-color:white;
}

#pwgHeader .menu a:visited {
  color:#895900;
}

#pwgHeader .menu a:hover {
   background-color:gray;
   color:white;
   text-decoration:none;
}

.checkboxBox
{
  width: 500px;
}

.checkboxBox label
{
  white-space: nowrap;
}

TABLE.revisions {
  border-collapse: collapse;
  margin: 0 auto;
}

TABLE.revisions TD,
TABLE.revisions TH
{
  text-align: center;
  border: 1px solid black;
  padding: 5px;
}

TABLE.revisions TH
{
  background-color: lightgray;
}

IMG.download
{
  display: block;
  float: left;
  border: none;
}

UL.actionLinks
{
  text-align: center;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 1em;
  width: 200px;
  background-color: #d3d3d3;
  border: 1px solid gray;
}

UL.actionLinks LI
{
  display: inline;
/*
  padding: 0 5px;
*/
  margin: 0;
}

UL.actionLinks LI IMG
{
  border: none;
  padding: 5px 0;
}

H1
{
  text-align: center;
  margin: 10px;
}

H2
{
  text-align: center;
  padding: 0;
  margin: 0 0 0.5em 0;
}

H3
{
  text-align: left;
  font-weight: bold;
  margin-top: 2em;
}

H3.revisionListTitle {
  margin-bottom: 0;
  margin-top: 2em;
}

UL.linkManagement
{
  margin: 0;
  padding: 0;
}

UL.linkManagement LI
{
  display: block;
  border: 1px solid gray;
  margin-bottom: 1em;
  padding: 0.5em;
}

A.linkAction
{
  display: block;
  float: right;
}

A.linkAction IMG
{
  border: none;
}

.extension_title
{
  font-size: 120%;
  font-weight: bold;
}

.revision_about
{
  margin-top: 1em;
}

.revision_changes
{
  margin-top: 1em;
}

UL.revActionLinks LI
{
  display: inline;
  margin: 0;
}

UL.revActionLinks LI IMG
{
  border: none;
  padding: 5px 0;
}

.listButton {
  font-size: 90%;
}

A.javascriptButton {
  cursor: pointer;
}

#changelog {
  margin-top: 2em;
}

.changelogRevision {
  border: 1px solid #999999;
  background-color: #fafafa;
  margin: 5px;
  padding: 5px;
  overflow: hidden;
}

.changelogRevisionHeaderCollapsed, .changelogRevisionHeaderExpanded {
  cursor: pointer;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 20px;
}

.changelogRevisionHeaderCollapsed {
  background-image: url(images/expand.png);
}

.changelogRevisionHeaderExpanded {
  background-image: url(images/collapse.png);
}

.revisionTitle {
  display:block;
  float:left;
  font-weight:bold;
}

.revisionDate {
  font-style: italic;
  display: block;
  float: right;
}

UL.revActionLinks {
  float: right;
  margin: 0;
  padding: 0;
}

#quickNav {
  float: left;
}

.paginationBar {
  display: block;
  text-align: center;
}

.pages {
  display: block;
  text-align: center;
  margin: 10px;
}

.paginationBar {
  font-size: 12px;
}

.paginationBar a {
  padding: 2px 6px;
  border: solid 1px #ddd;
  background: #fff;
  text-decoration: none;
}

.paginationBar a:visited {
  padding: 2px 6px;
  border: solid 1px #ddd;
  background: #fff;
  text-decoration: none;
}

.paginationBar .PrevActive,
.paginationBar .PrevInactive {
  margin-right: 20px;
}

.paginationBar .FirstActive,
.paginationBar .FirstInactive,
.paginationBar .PrevActive,
.paginationBar .PrevInactive,
.paginationBar .NextActive,
.paginationBar .NextInactive,
.paginationBar .LastActive,
.paginationBar .LastInactive {
  padding: 2px 6px;
  border: solid 1px #ddd;
  background: #fff;
}

.paginationBar .FirstInactive,
.paginationBar .PrevInactive,
.paginationBar .NextInactive,
.paginationBar .LastInactive,
.paginationBar .inactive {
  color: #999;
}

.paginationBar .NextActive,
.paginationBar .NextInactive {
  margin-left: 20px;
}

.paginationBar .currentPage {
  padding: 2px 6px;
  border-color: #999;
  font-weight: bold;
  font-size: 13px;
  vertical-align: top;
  background: #fff;
  color: red;
}

.paginationBar a:hover {
  color: #fff;
  background: #0063DC;
  border-color: #036;
  text-decoration: none;
}

.pages div.Results {
  text-align: center;
  font: 11px/15px Arial, Helvetica;
  color: #aaa;
  margin-top: 8px;
}

.filter_buttons {
  margin-top: 1em;
  text-align: center;
}