<h2>Disclaimer & Conditions of use</h2>

<p>Talend Ecosystem is a web site hosted by Talend which Talend Users (the "User")  can use to deposit and download programs on and from. These programs are a courtesy to the Talend user community and come as a complement to the Talend solutions, including, but not limited to Talend Open Studio, Talend On Demand and Talend Integration Suite.</p>

<p>The Talend Ecosystem User therefore acknowledges and agrees that:</p>
<ul>
  <li>the programs provided on Talend Ecosystem website are provided "as is";</li>
  <li>these programs are provided without warranty of any kind, either express or implied, including, reliability, fitness for a particular purpose or operation, effectiveness and non-infringement;</li>
  <li>under no circumstances, shall Talend  be liable for any intellectual property rights infringement;</li>
  <li>the use of Talend Ecosystem website is at the User's sole risk,</li>
  <li>the programs provided on Talend Ecosystem are provided as a convenience, thus Talend is not responsible for supporting any of these programs even if used in conjunction with a supported version of the Talend offering.</li>
</ul>
 
<p>The Talend name, logo, and trade names are trademarks of Talend and no right is granted to use them except when expressly agreed in writing by Talend.</p>

<p>The programs provided on Talend Ecosystem website can be used or are to be used in conjunction with other third party software. These third party softwares are not under the control of Talend. With regard to third party software, the User agrees to:</p>

<ul>
  <li>obtain at its own expense the right to use the third party software;</li>
  <li>comply and adhere strictly with the appropriate licensing terms and agreements applying to each of this third party software;</li>
  <li>in no case seek Talend's liability for any dysfunction of this third party software.</li>
</ul>

<p>In case of any dispute arising from the use of this third party software, Talend could not be held liable and would in no case offer warranty to the User.</p>
