<h2>Aide à l'utilisation de PEM</h2>
<br>
<div class="row">
<h3>S'idendifier</h3>

<p>Si vous êtes inscrit sur le Forum, vous pouvez vous connecter avec votre pseudo et votre mot de passe du Forum du site.</p>

<h3>Créer un compte</h3>

<p>Pour cela clic sur “S'enregistrer” remplis les infos demandés.</p>
</div>